.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
**/*.quarto_ipynb
.httr-oauth
.DS_Store
.quarto
_site/
_freeze/
.quarto/
.Rproj.user/
.Rhistory
.RData
.DS_Store
_site/
_freeze/
.quarto/
.Rproj.user/
.Rhistory
.RData
.DS_Store
